$font-family-base: lato;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-default-brand-color: #fed136;
$navbar-default-brand-hover-color: #fec503;
$navbar-inverse-toggle-hover-bg: #fed136;
$navbar-inverse-toggle-border-color: #fed136;
$navbar-inverse-link-active-color:#ffffff;
$navbar-default-link-color: #ffffff;
$navbar-default-color: #ffffff;
$navbar-default-link-hover-color: #fed136;
$navbar-default-link-active-color: #ffffff;
$body-bg: #000;
$font-size-large:13px;
$modal-content-fallback-border-color: none;
$modal-content-border-color: none;
$modal-header-border-color: none;
$modal-footer-border-color: none;
$padding-base-vertical:15px;
$padding-base-horizontal:20px;
$btn-success-bg: #40b07e;
$btn-font-weight: bold;
$close-color: #fff;
$close-font-weight: 100;
$font-size-base: 13px;
$btn-default-color: #373737;
$panel-border-radius: 7px;
$well-bg: #f7f7f7;
$panel-body-padding: 17px 17.5px 84px 17.5px;
$btn-success-bg: #389A6E;  