@import '../../assets/css/variables.scss';
.container {
    width: 100%;
    padding-bottom: 3rem;
    @media (min-width: 767px) {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        width: 67rem;
    }
    :global(.modal-body) {
        background: $app_white;
    }
    .modalBackdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
        opacity: 0.5;
    }
    .modal {
        z-index: 1050;
        left: 0;
        top: 0;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        display: block;
        position: fixed;
        right: 0;
    }
    :global(.modal-footer){
        padding-top: 3rem;
        padding-left: 3.8rem;
        padding-right: 3.8rem;
        padding-bottom: 3rem;
        text-align: left;
        background-color: $app_white;
    }
    overflow-y: auto;
}