@import '../../assets/css/variables.scss';
.container{
    :global(.btn-default){
        color: $app_black;
        background-color: transparent;
        border-color:$app_black;
        .caret{
            position: absolute;
            right: 0;
            top: 2rem;
            margin-right: 1.5rem;
        }
    }
    :global(.dropdown-menu) {
        background-color:$app_grey5;
        color:$app_white;
        top:0;
        a {
            color:$app_white;      
            &:hover{
        text-decoration: none;
        color: $app_gold;
        background-color: $app_grey5;
            }

        } 
    }
}