@import '../../../../assets/css/variables.scss';
.popup {
    right: 0rem;
    width: 16rem;
    background: $app_grey5;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.30);
    border-radius: 0.7rem;
    padding: 1rem 0;
    position: absolute;
    z-index: 3;
    a {
        display: none;
        color: $app_grey1;
        display: block;
        padding: 0.5rem 2rem 0.5rem 1.7rem;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            color: $app_gold;
        }
    }

}