$app_white:#ffffff;
$app_black:#171717;
$app_gold:#FFC83D;
$app_ash: #E7E7E7;
$app_green:#389A6E;
$app_red: #DA4747;
$app_grey7:#5C5C5C;
$app_grey6:#636363;
$app_grey5:#373737;
$app_grey4:#7D7D7D;
$app_grey3:#9D9D9D;
$app_grey2: #D7D7D7;
$app_grey1: #F7F7F7;
$body_bg: #000;
$text-muted-color: #777777;
$btn-default-white_text_color:#ffffff;
$btn-primary-bg-color: #fed136; 
$dropzone-active-bg: #eee;
$range-slider-bg: #40b07e;
$range-slider-box-shadow-b: #0d0d0d;
$slider-runnable-track-bg: #979797;
$ms-fill-lower-bg: #2a6495;
$ms-fill-lower-border: #010101; 
$ms-fill-upper: #3071a9;
$pedonalize-paragraph-color: #272727;
$dashboard-unselected: #9b9b9b;
$goals_stroke: #ddd;
$goals_progress_stroke: #f5a623;
$goal_message:#6c6c6c;
$tableHead:#e2e2e2;
$progressBackground:#dc6666;
$diagram_buttercup: #F5A623;
$diagram_celery: #B2C753;
$diagram_yellow_green: #C4D676;
$diagram_algae_green: #81DEA6;
$diagram_shamrock: #2DC884;
$diagram_viking:#4FC0DB;
$diagram_havelock_blue: #4A8FD0;
$diagram_bismark: #416589;
$spending_tooltip_background: #2da28d;