@import '../../../../assets/css/variables.scss';

.container{
	z-index: 9995;
	@media (min-width: 768px) {
		:global(.modal-dialog){
			width: 50rem;
			top:6.8rem;
			height: 62.7rem;
			margin: auto;
		}	
	}
	@media (max-width: 767px) {
			:global(.modal-dialog){
				width: 100%;
				top: 0;
				height: 100%;
				margin: auto;
				z-index: 9999;
				border-color: $body_bg;
				opacity: 3;
			}	
	}
	:global(.modal-header){
		width: 100%;
		height: 7.5rem;
		padding-left: 3rem;
		border:none;
		background-color: $body_bg;
		h6{
			color: $btn-default-white_text_color;
			font-size: 1.6rem;
			line-height: 1;
			letter-spacing: 0.01rem;
			text-transform: capitalize;
			padding-top: 0.7rem;
		}
	}
	:global(.modal-content){
		width: 100%;
		height: inherit;
		border-radius: 0.8rem;
	}

	:global(.modal-body){
		padding-left: 3.8rem;
		padding-right: 3.8rem;
		margin:0;
		background-color: $app_ash; 
	}
	@media (max-width: 767px){
 		:global(.modal-body){
 			background-color: transparent !important;
	 			button{
	 				background-color: transparent;
	 				color: $btn-default-white_text_color;
	 			}
 		}
 	}
 	@media (max-width: 767px){
 		:global(.modal-content){
			opacity: 0.95;
			background-color: $app_grey5;
			-webkit-border-radius: 0rem;
	    	-moz-border-radius: 0rem;
	    	border-radius: 0rem;
 		}
 	}
	:global(.modal-footer){
		padding-top: 3.1rem;
	}
	:global(.close){
		font-size: 3.4rem;
		opacity: 5;
	}
	:global(.btn){
		font-size: 1.3rem;
		width: 100%;
		height: 4.5rem;
		padding: 0;
		border-radius: 0.7rem;
		font-size: 1.3rem;
		font-weight: bold;
	}

	:global(.btn-success){	
		width: 100%;
		border: none !important;
	}
	:global(.btn-default){
		border: solid 0.1rem $app_grey4;
	}
	@media (min-width: 768px) {
		.left-btn-container {
			padding-left: 3.8rem;
			padding-right: -0.5rem;
		}
		.right-btn-container {
			padding-right: 3.8rem;
			padding-left: 0.5rem;
		}
	}
	@media (max-width: 767px) {
		.left-btn-container {
			padding-right: 3.8rem;
			padding-left: 3.8rem;
			padding-bottom: 1.5rem;
		}
		.right-btn-container {
			padding-right: 3.8rem;
			padding-left: 3.8rem;
		}
	}
	.avatar_wrapper{
		margin-top:5.5rem;
		padding: 0;
		img {
			width: 11.09rem;
			height:11.09rem;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	h1{
		padding-top: 2.91rem;
		padding-bottom: 2.91rem;
		font-family: Lato;
		font-size: 3rem;
		font-weight: bold;
		line-height: 1.1;
		letter-spacing: -0.6px;
		text-align: center;
		color: $app_black;
		text-transform:  capitalize;
	}
	.loginBox {       
		.login-input-button__field-wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			height: 7rem;
		}
		.login-input-icon {
			position: absolute;
			padding-left: 1.6rem;
			padding-top: 2.1rem;
			z-index: 3;
		}
		.login-input-button-pair__input {
			border-radius: 0.7rem;
			border: solid 0.1rem $app_grey2 !important;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			border: 0;
			width: 100%;
			padding-left: 5.5rem;
			z-index: 2;
		}
		.iconSpan {
			position: absolute;
			z-index: 2;
			right: 5.79rem;
			padding-top: 2.6rem;
		}
	}

	p{
		font-size: 1.7rem;
		text-align: center;
		span{
			font-weight: bold;
		}
	}
	.cancelButton:hover{
  		background-color: $app_gold;
	}
}

	
