@import '../../assets/css/variables.scss';
.otp-wrapper{
    @media(min-width:1200px){
        :global(.container-fluid){
            width:90rem;
            margin-left:auto;
            margin-right:auto;
            padding-right:7rem;
        }
        .otp-heading-wrapper{
            margin-left:-1.5rem;
        }  
    }
    width: 100%;
    min-height: 9rem;
    background-color: $app_gold;
    position: fixed;
    vertical-align: middle;
    bottom: 0;
    z-index: 999;
    .otp-right-wrapper{
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
        vertical-align: middle;
    }
    @media(min-width: 768px){
        :global(.row){
            display:flex;
            :global(.col-sm-3){
                margin:auto;
                padding-left: 0;
            }
        }
        
        .otp-right-wrapper{
            p{
                font-size: 1.2rem;
                letter-spacing: 0.02rem;
                text-align: left;
                color: $app_black;
                padding: 0;
                margin: 0;
                span{
                    font-weight: bold;
                }
            }
        }
    }
    @media(max-width: 767px){
        .otp-right-wrapper{
            p{
                font-size: 1.2rem;
                letter-spacing: 0.02rem;
                text-align: left;
                color: $app_black;
                padding-bottom: 1rem;
                span{
                    font-weight: bold;
                }
            }
        }

    }
    .otp-heading-wrapper{
        h6{
            font-size: 1.9rem;
            line-height: 1.2;
            letter-spacing: 0.01rem;
            color: $app_black;
            text-transform: none;
        }
    }
    a,
    a:hover,
    a:focus,
    a:active,
    a.active {
        outline: none;
        color: $app_black;
        font-weight: bold;
        cursor: pointer;
    }
    .input-wrapper {
        display: block;
        @media(max-width: 767px){
            margin-bottom: 1rem;  
        }   
        .input-icon {
            position: absolute;
            padding-top: 2.1rem;
            z-index: 3;
        }
        .pair-input {
            border-radius: 0.7rem;
            border: solid 0.1rem $app_grey2; 
            height: 4rem;
            width: 100%;
            padding-left: 1.9rem;
            padding-right: 1.9rem;
            &.error{
                border: 0.2rem solid $app_red;
                &:focus{
                    box-shadow: 0 none;
                    outline: 0 none;
                }
            }
        }
    }
    :global(.btn){
        height: 4rem;
        padding: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        width: 100% ;
        @media (max-width: 767px) {
            margin-left: 0rem;
        }
        img{
            padding-left: 1.4rem;
            padding-bottom: 0.4rem;
        }
    } 
}
@media (max-width: 767px) {
    .otp-wrapper{
        height: 22rem;
        border-bottom: 0;
        position: fixed;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        width:100%;
    }
}


