@import '../../../../assets/css/variables.scss';
.container{
	@media (min-width: 768px) {
		:global(.modal-dialog){
			width: 36.1rem;
			top:14.2rem;
			height: inherit;
			margin: auto;
		}
		.logo_top
		{
			display: none;
		}	
        :global(.modal-content){
            border-top-right-radius: 0.8em;
            border-top-left-radius: 0.8em;
        }
        :global(.modal-header){
            border-top-right-radius: 0.8em;
            border-top-left-radius: 0.8em;
        }
	}
	@media (max-width: 767px) {
		:global(.modal-dialog){
			width: 100%;
			top: 0;
			height: 100%;
			margin: auto;
		}
		.logo_top
		{
			display: block;
		}	
	}
	:global(.modal-header){
		width: 100%;
		padding-left: 3rem;
		background-image:url('../../../../assets/img/phrase_bg.png');
		background-size: cover;
		background-repeat:no-repeat;
	}

	@media (min-width: 768px) {
		:global(.modal-header){
			height: 12.4rem;
		}	
	}
	@media (max-width: 767px) {
		:global(.modal-header){
			height: 19.2rem;
		}	
	}
	.avatar_wrapper{
			padding: 0;
	   		img {
	   			width: 11.09rem;
	   			height:11.09rem;
	   			display: block;
	    		margin-left: auto;
	   			margin-right: auto;
			}
	}
	@media (min-width: 768px) {
		.avatar_wrapper{
			margin-top:5.5rem;
			padding: 0;
		}
	}
	@media (max-width: 767px) {
		.avatar_wrapper{
			margin-top:-7rem;
			padding: 0;
		}
	}
	:global(.modal-content){
		width: 100%;
		min-height: 100%;
		padding-bottom: 2rem;
 	}

 	@media (max-width: 767px) {
		:global(.modal-content){
			-webkit-border-radius: 0rem;
	    	-moz-border-radius: 0rem;
	    	border-radius: 0rem;
 		}
	}
	:global(.modal-body){
		padding-left: 3.8rem;
		padding-right: 3.8rem;
		padding-bottom: 2.5rem;
		padding-top: 2.91rem;
	}
	:global(.modal-footer){
		padding-top: 0rem;
		padding-left: 3.8rem;
		padding-right: 3.8rem;
		
	}
	:global(.close){
		font-size: 3.4rem;
		opacity: 5;
	}

	:global(.btn){
		font-size: 1.3rem;
		width: 100%;
	    height: 4.5rem;
	    padding: 0;
	    border-radius: 0.7rem;
		font-size: 1.3rem;
		font-weight: bold;
	}

	:global(.btn-success){	
		width: 100%;
		border: none !important;
	}
	h1{
		padding-top: 2.91rem;
		padding-bottom: 2.91rem;
		font-size: 3rem;
		font-weight: bold;
		line-height: 1.1;
		letter-spacing: -0.06rem;
		text-align: center;
		color: $app_black;
		text-transform:  capitalize;
	}
	.logo_top
	{
		    text-align: -webkit-center;
		    height: 19.2rem;
		    padding-top: 4rem;
	}
	
    p{
    	font-size: 1.7rem;
    	text-align: center;
		span{
    		font-weight: bold;
		}
	}
}

